:root {
  --primary-color: #bdb38f;
  --secondary-color: #b38fbd;
  --complementary-color: #8d579c;
  --heading-font-family: "Advent Pro", sans-serif;
  --text-font-family: "Poppins", sans-serif;
}
.body {
  margin: 0 auto;
}
.content-container {
  text-align: center;
  padding: 100px 20px;
  color: black;
  background-image: url("/photos/background-photo.png");
  width: 100%;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 96px;
}
.content-container h1 {
  color: white;
  margin: 0;
}

.content-container p {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.8;
}
.content-container h3 {
  font-size: 35px;
  font-weight: 500;
  font-family: var(--heading-font-family);
}
.bold-text {
  font-size: 27px;
}
a {
  text-decoration: none;
  color: #2a2e46;
}
a:hover {
  color: var(--complementary-color);
}

.btn-find-out-more {
  background: var(--secondary-color);
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: var(--text-font-family);
  font-weight: medium;
  padding: 10px 45px;
}
.btn-find-out-more:hover {
  background: var(--complementary-color);
  transition: all 100ms ease-in-out;
}

.painting-container {
  background: var(--primary-color);
}

.about-content {
  margin-top: 40px;
}

.contact-container h3 {
  font-size: 30px;
}
.logo-text {
  font-family: var(--heading-font-family);
  color: white;
  font-size: 25px;
}
.palette-icon {
  font-size: 50px;
  display: inline;
}
.navbar {
  background: var(--primary-color);
  font-size: 18px;
}
footer {
  margin-top: 30px;
}
footer .mail-link {
  font-size: 25px;
}
footer .mail-link:hover {
  color: var(--complementary-color);
  transition: all 100ms ease-in-out;
}
.social-links a {
  margin: 0 10px;
  color: var(--complementary-color);
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 6px 13px;
}
.social-links a :hover {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 87px;
  }
  .content-container {
    padding: 50px 10px;
  }
  .content-container p {
    font-size: 18px;
  }
}
