:root {
  --primary-color: #b8ac80;
  --secondary-color: #7d8a5e;
  --heading-font-family: "Advent Pro", sans-serif;
}

.body {
  margin: 0 auto;
}
.hero {
  text-align: center;
  padding: 150px 20px;
  color: #1c1127;
  background-image: url("/photos/background-photo.png");
  width: 100vw;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: medium;
  font-size: 96px;
}
.hero h1 {
  color: white;
}

.hero p {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
}
.hero h3 {
  font-size: 35px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}
.bold-text {
  font-size: 25px;
}
a {
  text-decoration: none;
}

.btn-find-out-more {
  background: var(--secondary-color);
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: medium;
  padding: 10px 45px;
}
.btn-find-out-more:hover {
  background: #6e7953;
}

.painting-container {
  background: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 87px;
  }
  .hero {
    padding: 50px 10px;
  }
}
